.footer__links {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@media screen and (min-width: 320px) {
  .footer__links {
    padding-bottom: 48px;
  }
}

@media screen and (min-width: 768px) {
  .footer__links {
    width: auto;
    padding: 0;
    flex-direction: row;
  }
}
